<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置Srping 默认scope为单例 注释快捷键:Ctrl+Shift+/-->
    <!--<bean id="UserDao" class="com.itgh.dao.Impl.UserDaoImpl" scope="singleton" init-method="init" destroy-method="destory"></bean>-->
    <!--这么些代表无参构造 class="com.itgh.dao.Impl.UserDaoImpl" -->
    <!--<bean id="UserDao" class="com.itgh.dao.Impl.UserDaoImpl" ></bean>-->
    <!--配置静态工厂-->
    <!--<bean id="UserDao" class="com.itgh.factory.StaticFactory" factory-method="getUserDao" ></bean>-->
    <!--配置工厂**实例**方法实例化-->
    <bean id="factory" class="com.itgh.factory.DynamicFactory"></bean>
    <bean id="UserDao" factory-bean="factory" factory-method="getUserDao" ></bean>
</beans>